<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendors/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/vendor/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/dist/css/sb-admin-2.css">
    <link rel="stylesheet" href="/vendor/morrisjs/morris.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/vendors/jquery-1.11.3.min.js"></script>
    <script src="/vendors/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    {{#if title}}
      <title>Cluster Monitor - {{title}}</title>
    {{else}}
      <title>Cluster Monitor</title>
    {{/if}}
  </head>
  <body>
    <!-- Navigation -->
    <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="/akashic.png"></a>
          <a class="navbar-brand" href="/"><img src="/title.png"></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li><a href="/cluster">Cluster</a></li>
          <li><a href="/processes">Processes</a></li>
          <li><a href="/hosts">Hosts</a></li>
          <li><a href="/playlog_server_hosts">PlaylogServerHosts</a></li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/cluster"><i class="fa fa-table fa-fw"></i> Cluster Information</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Process<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/processes">Show Processes</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Hosts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/hosts">Show Hosts</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Playlog Server <span class="fa arrow"></span></a></li>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/playlog_server_hosts">Show Playlog Server Hosts</a>
                            <a href="/playlog/servers">Show Playlog Servers</a>
                        </li>
                    </ul>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    {{{body}}}
    </div>
    <!-- /#wrapper -->
  </body>
</html>
